
$backgroundColour : #111; //#556270;
$normaTextColour: #D4D7D0;
$light-width: 10vw;
$light-text-color: black;
$blue-light: #359fb4;
$red-light: #bb0000;
$display-colour-1: orange;
$counter-color: #bb0000;
$indicator-color: #bb0000;


$screen-height: 30vw;
$screen-background: #333300;
$display-border: 1vw;
$screen-width:60vw;
$indicator-width: 0vw;


@font-face {
  font-family: arkhip;
  src: url("../fonts/Arkhip_font.otf") format("opentype");
}

@font-face {
  font-family: stencil;
  src: url("../fonts/stencil.otf") format("opentype");
}

@font-face {
  src: url("../fonts/icons.ttf") format("truetype");
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/icons.ttf") format("truetype");
}

html, body {
  width: 100%;
  height: 100%;
  margin : 0;
  font-family: 'arkhip';
  font-size: 6vw;
}

body {
  background-color: $backgroundColour;
  color: $normaTextColour;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  // font-size: 6vw;  /* 24px Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.main {
  position: relative;
}

.red-blue-lights {
  position: absolute;
  top: 11vw;
  left: 5vw;
  color: $light-text-color;

  .blue-light {
    top: 10vw;
    left: 10vw;
    width: $light-width;
    text-align:center;
    margin-bottom: 2vw;
    background-color: $blue-light;
    padding: 2vw 0;
    height: $light-width - 4vw;
  }
  .red-light {
    top: 10vw;
    left: 10vw;
    width: $light-width;
    padding: 4vw 0 0 0;
    height: $light-width - 4vw;
    background-color: $red-light;
  }
}


.display {
  background-color: $screen-background;
  position: absolute;
  top: 10vw;
  left: 23vw;
  padding: 1vw;
  z-index:-10;
}

.indicator {
  border-left: $display-border solid $indicator-color;
  border-right: $display-border solid $indicator-color;
  position: absolute;
  height: $screen-height;
  top: $display-border + 1vw;
  left: $display-border + 1vw;
  width: $indicator-width;
  transform: translate( ($screen-width - $indicator-width)/2, 0);
  z-index:-1;
}

.screen {
  border: $display-border solid $display-colour-1;
  border-radius: 4vw;
  width: $screen-width;
  height: $screen-height;
  margin: 0 1vw 2vw 1vw;
}

.counter-block {
  text-align: center;
  border: $display-border solid $display-colour-1;
  border-radius: 3vw;
  margin:auto;
  width: 30vw;
  font-family: stencil;
  color: $counter-color;
}

.U1 {
  position: absolute;
  margin:0;
  padding:0;
  border: $display-border/2 solid  $display-colour-1;
  border-top: none;
  border-radius: 0;
  top: $screen-height * 15/32 + $display-border * 1.75;
  height: $screen-height / 16;

  width: $screen-width  *  (     0  +   1 / 32      );
  left:  $screen-width  *  (     (1 - 1 / 32) / 2   )    + 2.5;
}

.U2 {
  position: absolute;
  margin:0;
  padding:0;
  border: $display-border/2 solid  $display-colour-1;
  border-top: none;
  border-radius: 0;
  top: $screen-height * 7/16 + $display-border * 1.75;
  height: $screen-height / 8;
  width: $screen-width  *  (     0  +   1 / 16      );
  left:  $screen-width  *  (     (1 - 1 / 16) / 2   )    + 2.5;
}

.U3 {
  position: absolute;
  margin:0;
  padding:0;
  border: $display-border/2 solid  $display-colour-1;
  border-top: none;
  border-radius: 0;
  top: $screen-height * 3/8 + $display-border * 1.75;
  height: $screen-height / 4;
  width: $screen-width  *  (     0  +   1 / 8      );
  left:  $screen-width  *  (     (1 - 1 / 8) / 2   )    + 2.5;
}

.U4 {
  position: absolute;
  margin:0;
  padding:0;
  border: $display-border/2 solid  $display-colour-1;
  border-top: none;
  border-radius: 0;
  top: $screen-height * 1/4 + $display-border * 1.75;
  height: $screen-height / 2;
  width: $screen-width  *  (     0  +   1 / 4      );
  left:  $screen-width  *  (     (1 - 1 / 4) / 2   )    + 2.5;
}

.U5 {
  position: absolute;
  margin:0;
  padding:0;
  border: $display-border/2 solid $display-colour-1;
  border-top: none;
  border-radius: 0;
  top: $screen-height * 0 + $display-border * 1.75;
  height: $screen-height / 1;
  width: $screen-width  *  (     0  +   1 / 2      );
  left:  $screen-width  *  (     (1 - 1 / 2) / 2   )    + 2.5;
}



.D1 {
  position: absolute;
  margin:0;
  padding:0;
  border: $display-border solid $display-colour-1;
  border-top: none;
  border-radius: 0;
  height: 0;
  width: $screen-width;
  transform: translate( -1vw, $screen-height / 8) scale(0.72)  translate( 0, $screen-height / 2) rotate(44deg) ;

}

.D6 {
  position: absolute;
  margin:0;
  padding:0;
  border: $display-border solid $display-colour-1;
  border-top: none;
  border-radius: 0;
  height: 0;
  width: $screen-width;
  transform: translate( -1vw, $screen-height / 8) scale(0.71)  translate( 0, $screen-height / 2) rotate(-44deg) ;
}


.D2 {
  position: absolute;
  margin:0;
  padding:0;
  border: $display-border*0.8 solid $display-colour-1;
  border-top: none;
  border-radius: 0;
  height: 0;
  width: $screen-width;
  transform: translate( -1vw, -0.6vw ) scale(1.02)  translate( 0, $screen-height / 2) rotate( 30deg) ;

}

.D5 {
  position: absolute;
  margin:0;
  padding:0;
  border: $display-border*0.8 solid $display-colour-1;
  border-top: none;
  border-radius: 0;
  height: 0;
  width: $screen-width;
  transform: translate( -1vw, -0.7vw ) scale(1.02)  translate( 0, $screen-height / 2) rotate(-30deg) ;
}




.D3 {
  position: absolute;
  margin:0;
  padding:0;
  border: $display-border*0.8 solid $display-colour-1;
  border-top: none;
  border-radius: 0;
  height: 0;
  width: $screen-width;
  transform: translate( -1vw, -0.6vw ) scale(1)  translate( 0, $screen-height / 2) rotate( 10deg) ;

}

.D4 {
  position: absolute;
  margin:0;
  padding:0;
  border: $display-border*0.8 solid $display-colour-1;
  border-top: none;
  border-radius: 0;
  height: 0;
  width: $screen-width;
  transform: translate( -1vw, -0.6vw ) scale(1)  translate( 0, $screen-height / 2) rotate(-10deg) ;
}

